<?xml version="1.0" encoding="utf-8"?>
<!--
This is the integration tests app config file that has the config burnt in for integration tests to run.  This file
must contain settings that match the integration test environment.  The integration environment file location is listed
in the rsp at ../Modules/Build.Infrastructure/Src/Projects/PackageAndDeployRemote/TFSBuild.rsp.

To run the integration tests locally you need to edit the following attributes
 - aderant/instanceMetadataConfigurationSection@environment             Environment name
 - aderant/instanceMetadataConfigurationSection/repository@name         Expert DB name
 - aderant/instanceMetadataConfigurationSection/repository@server       Expert DB server and instance
 - aderant/instanceMetadataConfigurationSection/expertShare@uri         Path to expert share
 - aderant/instanceMetadataConfigurationSection/queryService@uri        Query service uri
 - system.serviceModel/client/endpoint@address                          All service addresses need to be updated if you use non
                                                                        default port, and if environment <> 'Local'
 
*** NB  ***
DO NOT CHECK ANY CHANGES YOU MAKE TO RUN TESTS LOCALLY AS THIS WILL BREAK OVER NIGHT TEST RUNS.
*** NB  ***


-->
<configuration>
  <configSections>
    <sectionGroup name="aderant">
      <section name="instanceMetadataConfigurationSection" type="Aderant.Framework.Deployment.InstanceMetadataConfigurationSection, Aderant.Framework, Version=1.8.0.0, Culture=neutral, PublicKeyToken=41b332442f1101cc" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <aderant>
    <instanceMetadataConfigurationSection environment="IntegrationTest">
      <repository name="VMEXPDEVB309" server="svsql303\mssql10" />
      <expertShare uri="\\VMEXPDEVB309.ap.aderant.com\expertshare" />
      <queryService uri="http://localhost/Expert_IntegrationTest/FrameworkServices/query/queryservice.svc" />
      <notificationService uri="http://localhost/Expert_IntegrationTest/FrameworkServices/Notification/Notifications" />
    </instanceMetadataConfigurationSection>
  </aderant>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Aderant.DevelopmentTools.PackageService.PackageServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="False" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="expertBasicHttpBinding" maxReceivedMessageSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows">
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="Aderant_NetTcp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="99999998" maxConnections="100" maxReceivedMessageSize="99999998">
          <readerQuotas maxDepth="32" maxStringContentLength="2000192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="Aderant_NamedPipe" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint name="Packaging" address="http://localhost/Expert_IntegrationTest/FrameworkServices/Packaging/PackagingService.svc" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Packaging.Service.IPackagingContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="MessageTransformation" address="net.tcp://localhost:18187/ManagementService" binding="netTcpBinding" bindingConfiguration="Aderant_NetTcp" contract="Aderant.Framework.Integration.Service.IIntegrationServiceFacade" />
      <endpoint name="Configuration" address="http://localhost/Expert_IntegrationTest/FrameworkServices/Configuration/ConfigurationService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Configuration.Service.IConfigurationContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="ConfigurationManagement" address="http://localhost/Expert_IntegrationTest/FrameworkServices/ConfigurationManagement/ConfigurationManagementService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Configuration.Service.IConfigurationManagementContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="Metadata" address="http://localhost/Expert_IntegrationTest/FrameworkServices/Metadata/MetadataService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Metadata.Interfaces.Service.IMetadataContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="EmployeeIntake" address="http://localhost/Expert_IntegrationTest/ApplicationServices/EmployeeIntake/EmployeeIntakeService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.EmployeeIntake.Interfaces.Service.IEmployeeIntakeContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="FileOpening" address="http://localhost/Expert_IntegrationTest/ApplicationServices/FileOpening/FileOpeningService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.FileOpening.Interfaces.Service.IFileOpeningContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="FirmControl" address="http://localhost/Expert_IntegrationTest/ApplicationServices/FirmControl/FirmControlService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.FirmControl.Interfaces.Service.IFirmControlContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="MatterPlanning" address="http://localhost/Expert_IntegrationTest/ApplicationServices/MatterPlanning/MatterPlanningService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.MatterPlanning.Interfaces.Service.IMatterPlanningContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="Billing" address="http://localhost/Expert_IntegrationTest/ApplicationServices/Billing/BillingService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Billing.Interfaces.Service.IBillingContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="Rates" address="http://localhost/Expert_IntegrationTest/ApplicationServices/Rates/RatesService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Rates.Interfaces.Service.IRatesContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="Time" address="http://localhost/Expert_IntegrationTest/ApplicationServices/time/TimeService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Interfaces.Service.ITimeContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="AccountsPayable" address="http://localhost/Expert_IntegrationTest/ApplicationServices/AccountsPayable/AccountsPayableService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.AccountsPayable.Interfaces.Service.IAccountsPayableContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="Security" address="http://localhost/Expert_IntegrationTest/FrameworkServices/Security/SecurityService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Security.Service.ISecurityContractAsync">
        <identity>
          <servicePrincipalName value="HTTP/localhost" />
        </identity>
      </endpoint>
      <endpoint name="TaskManagement" address="http://localhost/Expert_IntegrationTest/FrameworkServices/TaskManagement/TaskManagementService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Tasks.Interfaces.Service.ITaskManagementContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="WorkflowManagement" address="http://localhost/Expert_IntegrationTest/FrameworkServices/WorkflowManagement/WorkflowManagementService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Workflow.Management.Interfaces.Service.IWorkflowManagementContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="TaskInbox" address="http://localhost/Expert_IntegrationTest/FrameworkServices/TaskInbox/TaskInboxService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Tasks.Interfaces.Service.ITaskInboxContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <!--The endpoint for the reporting service on the VM is slightly different from the rest of the services,
          to run locally, change this line to http://localhost/ReportServer/ReportService2010.asmx -->
      <endpoint name="ReportingService" address="http://svsql303/ReportServer_MSSQL10/ReportService2010.asmx" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Reporting.ServiceProxy.ReportingService.IReportingService2010Soap">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
      <endpoint name="CheckRequest" address="http://localhost/Expert_IntegrationTest/ApplicationServices/CheckRequest/CheckRequestService.svc/Basic" binding="basicHttpBinding" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.CheckRequest.Interfaces.Service.ICheckRequestContractAsync">
        <identity>
          <servicePrincipalName value="Host/localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>