<?xml version="1.0" encoding="utf-8"?>
<client>
  <endpoint name="Budgeting" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/Budgeting/BudgetingService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Budgeting.Interfaces.Service.IBudgetingContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="CheckRequest" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/CheckRequest/CheckRequestService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.CheckRequest.Interfaces.Service.ICheckRequestContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Collections" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/Collections/CollectionsService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Collections.Interfaces.Service.ICollectionsContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Configuration" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Configuration/ConfigurationService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Configuration.Service.IConfigurationContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="ConfigurationManagement" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/ConfigurationManagement/ConfigurationManagementService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Configuration.Service.IConfigurationManagementContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Metadata" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Metadata/MetadataService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Metadata.Interfaces.Service.IMetadataContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Customization" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Customization/CustomizationService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Customization.Interfaces.Service.ICustomizationContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Packaging" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Packaging/PackagingService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Packaging.Interfaces.Service.IPackagingContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Deployment" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Deployment/DeploymentService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Deployment.Interfaces.Service.IDeploymentContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="EmployeeIntake" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/EmployeeIntake/EmployeeIntakeService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.EmployeeIntake.Interfaces.Service.IEmployeeIntakeContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="AccountsPayable" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/AccountsPayable/AccountsPayableService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.AccountsPayable.Interfaces.Service.IAccountsPayableContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Time" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/Time/TimeService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Interfaces.Service.ITimeContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="BlackBerryConnector" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/BlackBerryConnector/BlackBerryConnectorService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IConnectorService">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="ScriptedConnector" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/ScriptedConnector/ScriptedConnectorService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IConnectorService">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="PurgeActivityLogConnector" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/PurgeActivityLogConnector/PurgeActivityLogConnectorService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IConnectorService">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="ExchangeConnector" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/ExchangeConnector/ExchangeConnectorService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IConnectorService">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="OpenTextConnector" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/OpenTextConnector/OpenTextConnectorService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IConnectorService">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="InterwovenConnector" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/InterwovenConnector/InterwovenConnectorService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IConnectorService">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="FoundTimeService" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/FoundTimeService/FoundTimeService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IConnectorService">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="FoundTimeFileService" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/FoundTimeFileService/FoundTimeFileService.xamlx" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Time.Base.Interfaces.IGetFileFromConnector">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="FileOpening" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/FileOpening/FileOpeningService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.FileOpening.Interfaces.Service.IFileOpeningContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="FirmControl" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/FirmControl/FirmControlService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.FirmControl.Interfaces.Service.IFirmControlContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="MatterPlanning" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/MatterPlanning/MatterPlanningService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.MatterPlanning.Interfaces.Service.IMatterPlanningContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Notes" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Notes/NotesService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Framework.Notes.Service.INotesContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Billing" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/Billing/BillingService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Billing.Interfaces.Service.IBillingContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Rates" address="http://WSAKL001092.ap.aderant.com/Expert_Local/ApplicationServices/Rates/RatesService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Rates.Interfaces.Service.IRatesContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="Security" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Security/SecurityService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Security.Service.ISecurityContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="TaskManagement" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/TaskManagement/TaskManagementService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Tasks.Interfaces.Service.ITaskManagementContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="WorkflowManagement" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/WorkflowManagement/WorkflowManagementService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Workflow.Management.Interfaces.Service.IWorkflowManagementContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="TaskInbox" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/TaskInbox/TaskInboxService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Tasks.Interfaces.Service.ITaskInboxContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
  <endpoint name="DevelopmentWorkflowManagement" address="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/WorkflowManagement/DevelopmentWorkflowManagementService.svc/Basic" binding="basicHttpBinding" behaviorConfiguration="LargeQuotaBehavior" bindingConfiguration="expertBasicHttpBinding" contract="Aderant.Workflow.Management.Interfaces.Service.IDevelopmentWorkflowManagementContractAsync">
    <identity>
      <servicePrincipalName value="HTTP/WSAKL001092.ap.aderant.com" />
    </identity>
  </endpoint>
</client>