<?xml version="1.0" encoding="utf-8"?>
<instanceMetadataConfigurationSection environment="Local">
  <repository name="_803x" server="WSAKL001092" />
  <expertShare uri="C:\ExpertShare" />
  <queryService uri="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Query/QueryService.svc" />
  <notificationService uri="http://WSAKL001092.ap.aderant.com/Expert_Local/FrameworkServices/Notification/Notifications" />
</instanceMetadataConfigurationSection>