source http://packages.ap.aderant.com/packages/nuget
source \\dfs.aderant.com\packages\ExpertDatabase
nuget Aderant.Build.Analyzer
nuget Aderant.Disbursements.Client
nuget Aderant.Disbursements.Core
nuget Aderant.Disbursements.Service
nuget Aderant.StoredProcedures
nuget Aderant.Framework.Core
nuget Aderant.Framework.Development
nuget Aderant.Framework.UIAutomation
nuget Aderant.ClientMatter.Core
nuget Aderant.ClientMatter.Service
nuget Aderant.Customization
nuget Aderant.Libraries.Models
nuget Aderant.Presentation.Core
nuget Aderant.TaskBasedBilling.Core
nuget Aderant.Time.Client
nuget Thirdparty.Aspose
nuget ThirdParty.AutoMapper
nuget ThirdParty.Bootstrap
nuget ThirdParty.DevComponents
nuget Thirdparty.ExifLibrary
nuget ThirdParty.GongSolutions
nuget ThirdParty.HtmlAgilityPack
nuget ThirdParty.ICSharpCode
nuget ThirdParty.Infragistics
nuget ThirdParty.Irony
nuget ThirdParty.JQuery
nuget ThirdParty.Keyoti.RapidSpell.v3
nuget ThirdParty.log4net
nuget ThirdParty.Microsoft.AspNet
nuget ThirdParty.Microsoft.EntityFramework
nuget Thirdparty.Microsoft.ExpressionBlendSdk
nuget ThirdParty.Microsoft.Linq.Dynamic >= 2.0.0 ci
nuget ThirdParty.Microsoft.OData >= 5.8.1 ci
nuget ThirdParty.Mindscape
nuget ThirdParty.Modernizr
nuget ThirdParty.Moq
nuget ThirdParty.MSExchange
nuget ThirdParty.Newtonsoft.Json
nuget ThirdParty.NHibernate
nuget ThirdParty.Ninject
nuget ThirdParty.NMock
nuget ThirdParty.OfficeXmlTools
nuget Thirdparty.Reactive
nuget ThirdParty.SqlCe
nuget ThirdParty.WebGrease
nuget ThirdParty.Xceed.6.2