[submodule "Chutzpah"]
	path = Src/Build.Tools/Chutzpah
	url = https://tfs.aderant.com/tfs/ADERANT/ExpertSuite/_git/ThirdParty.Chutzpah
	branch = master
[submodule "GitLink"]
	path = Src/Build.Tools/GitLink
	url = https://tfs.aderant.com/tfs/ADERANT/ExpertSuite/_git/ThirdParty.GitLink
	branch = master
[submodule "NuGet.CredentialProvider"]
	path = Src/Build.Tools/NuGet.CredentialProvider
	url = https://tfs.aderant.com/tfs/ADERANT/ExpertSuite/_git/NuGet.CredentialProvider
	branch = master
