[submodule "Chutzpah"]
	path = Src/Build.Tools/Chutzpah
	url = https://tfs.aderant.com/tfs/ADERANT/ExpertSuite/_git/ThirdParty.Chutzpah
	branch = master
[submodule "dotCover"]
	path = Src/Build.Tools/dotCover
	url = https://tfs.aderant.com/tfs/ADERANT/ExpertSuite/_git/ThirdParty.dotCover
	branch = master
[submodule "GitLink"]
	path = Src/Build.Tools/GitLink
	url = https://tfs.aderant.com/tfs/ADERANT/ExpertSuite/_git/ThirdParty.GitLink
	branch = master
