source http://packages.ap.aderant.com/packages/nuget
source \\dfs.aderant.com\packages\ExpertDatabase
source https://www.nuget.org/api/v2
framework: net46, net45

# For compatibility with VS 2015 Update 2 and 3 we need
# Microsoft.CodeAnalysis.CSharp 1.2.0.0
# System.Collections.Immutable 1.1.37.0 (or less)
# as there are binding redirects in devenv.exe.config which redirect to these versions.

nuget Microsoft.CodeAnalysis.CSharp
nuget Microsoft.CodeAnalysis.CSharp.Workspaces
nuget WindowsAPICodePack-Core
nuget Microsoft.WindowsAPICodePack-Shell
nuget Microsoft.Composition
nuget System.Collections.Immutable <= 1.1.37
nuget Moq

nuget Microsoft.TeamFoundationServer.ExtendedClient ~> 15.112.1
nuget Microsoft.VisualStudio.Services.Client ~> 15.112.1
nuget Microsoft.AspNet.WebApi.Client
nuget Microsoft.AspNet.WebApi.WebHost
nuget Microsoft.AspNet.WebHooks.Common
nuget Microsoft.AspNet.WebHooks.Receivers
nuget Microsoft.AspNet.WebHooks.Receivers.Generic
nuget Microsoft.AspNet.WebHooks.Receivers.VSTS
#nuget Microsoft.IdentityModel.Clients.ActiveDirectory <= 2.28.4
nuget Newtonsoft.Json ~> 8.0.0

nuget RouteMagic
nuget WebActivatorEx
nuget Microsoft.Web.Infrastructure
nuget Microsoft.Web.Xdt
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform >= 1.0.0 <= 1.0.0
nuget Microsoft.Net.Compilers >= 1.0.0 <= 1.0.0


group Analyzer

source http://packages.ap.aderant.com/packages/nuget
source https://www.nuget.org/api/v2

nuget Microsoft.CodeAnalysis.Common <= 1.0
nuget Microsoft.CodeAnalysis.CSharp <= 1.0
nuget Microsoft.CodeAnalysis.CSharp.Workspaces <= 1.0
nuget Microsoft.CodeAnalysis.Workspaces.Common <= 1.0
nuget Microsoft.Composition <= 1.0.27
nuget System.Collections.Immutable <= 1.1.36.0
nuget System.Reflection.Metadata