source http://packages.ap.aderant.com/packages/nuget/
source \\dfs.aderant.com\packages\ExpertDatabase
source https://www.nuget.org/api/v2
framework: >= net35
references: strict 
nuget Microsoft.TeamFoundationServer.ExtendedClient <= 15.104.0-preview
nuget Microsoft.VisualStudio.Services.Client <= 15.104.0-preview

nuget Aderant.Build.Analyzer
nuget Aderant.Customization
nuget EE.Database 
nuget Aderant.Framework.Core
nuget Aderant.Presentation.Core
nuget Aderant.EliteIntegration.Service
nuget Thirdparty.DevComponents
nuget Thirdparty.ICSharpCode
nuget Thirdparty.IronPython.2.7
nuget Thirdparty.Irony
nuget Thirdparty.Keyoti.RapidSpell.v3
nuget ThirdParty.log4net
nuget ThirdParty.Microsoft
nuget ThirdParty.Microsoft.Build
nuget ThirdParty.Microsoft.EntityFramework
nuget Thirdparty.Microsoft.ExpressionBlendSdk
nuget ThirdParty.Microsoft.OData >= 5.8.1 ci
nuget ThirdParty.MSExchange
nuget ThirdParty.Reactive
nuget ThirdParty.Xceed.6.2
nuget ThirdParty.NTFSStreams
nuget ThirdParty.Microsoft.ApplicationInsights

group Development
source http://packages.ap.aderant.com/packages/nuget/
nuget ThirdParty.Wix
nuget ThirdParty.NMock
nuget ThirdParty.Moq
nuget ThirdParty.Microsoft.WindowsServerAppFabric
nuget ThirdParty.Microsoft.NTRights
nuget ThirdParty.Microsoft.Net4
nuget ThirdParty.Microsoft.Deployment.WindowsInstaller