<#@ output extension=".ts" #>
<#@ assembly name="$(SolutionDir)Dependencies\Web.Core.dll" #>
<#@ assembly name="$(SolutionDir)Dependencies\Aderant.Smartforms.dll" #>

<#
var gen = new Aderant.Web.Foundation.Generators.TypeGenerator(new[] {
	 typeof(Aderant.Web.Presentation.Models.ArgumentDescriptor),
	 typeof(Aderant.SmartForms.Model.DynamicModelElementInfo),
	 typeof(Aderant.Web.Core.Models.Workflow.RuleDto),
	 typeof(Aderant.Web.Core.Models.Workflow.ActionDto)
});
#>
<#=gen.TransformText()#>

namespace Aderant.PresentationFramework.Windows.Data {
    export interface SearchDataProviderBase { }
	}